<div class="card card-tour">
    <div class="user">
        <img src="/static/avatar-small.png" alt="">&nbsp;&nbsp;&nbsp;Ann Simons
    </div>
    <img src="/static/tour-cover.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="lead">{{ item.city }}, {{ item.country }}<span class="duration">{{ item.duration }}</span></p>
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p class="price"><b>${{ item.price }}</b> per person</p>
    </div>
</div>
